body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  background-color: skyblue;
  color: white;
}

/* ----------------------------------------- */
/* GAME AND HEADER: */

#game {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 34px;
  margin-top: 20px;
}

#infoAndAction {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

#refresh {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;
}

#refresh:hover {
  background-color: white;
  color: skyblue;
}

/* ----------------------------------------- */
/* TILES: */

#tiles {
  width: 80vmin;
  height: 80vmin;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  cursor: pointer;
  z-index: 1;
  background-color: skyblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 17.4vmin;
  height: 17.4vmin;
  margin: 1vmin;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

/* ----------------------------------------- */
/* ACTIONS: */

.closed {
  background-size: 0 0;
}

.matched {
  background-size: cover;
  opacity: 0.25;
}

.unclickable {
  pointer-events: none;
}

/* ----------------------------------------- */
/* IMAGES: */
/* TODO: improvement: create with a single scss loop */

.image-1 {
  background-image: url(images/p1.png);
}
.image-2 {
  background-image: url(images/p2.png);
}
.image-3 {
  background-image: url(images/p3.png);
}
.image-4 {
  background-image: url(images/p4.png);
}
.image-5 {
  background-image: url(images/p5.png);
}
.image-6 {
  background-image: url(images/p6.png);
}
.image-7 {
  background-image: url(images/p7.png);
}
.image-8 {
  background-image: url(images/p8.png);
}
.image-9 {
  background-image: url(images/p9.png);
}
.image-10 {
  background-image: url(images/p10.png);
}
.image-11 {
  background-image: url(images/p11.png);
}
.image-12 {
  background-image: url(images/p12.png);
}
.image-13 {
  background-image: url(images/p13.png);
}
.image-14 {
  background-image: url(images/p14.png);
}
.image-15 {
  background-image: url(images/p15.png);
}
.image-16 {
  background-image: url(images/p16.png);
}
.image-17 {
  background-image: url(images/p17.png);
}
.image-18 {
  background-image: url(images/p18.png);
}
.image-19 {
  background-image: url(images/p19.png);
}
.image-20 {
  background-image: url(images/p20.png);
}
.image-21 {
  background-image: url(images/p21.png);
}
.image-22 {
  background-image: url(images/p22.png);
}
